# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Data brute (on ne push pas la source, seulement le propre)
fichier-de-donnees-numeriques*.csv

# OS
.DS_Store
Thumbs.db